In [2]:
import os
print(os.getcwd())   # current working directory
print(os.listdir())  # what files are in that directory


print("Current working directory:", os.getcwd())
print("Files here:", os.listdir())

if "data" in os.listdir():
    print("Files inside ./data:", os.listdir("data"))
    
working_directory = os.getcwd()
print(working_directory)

import pandas as pd
df = pd.read_csv("data/survey_results.csv")
print(df.head())

/drive
['Untitled10.ipynb', 'Untitled11.ipynb', 'Untitled5.ipynb', 'Untitled6.ipynb', 'Untitled7.ipynb', 'Untitled8.ipynb', 'Untitled9.ipynb', 'cleaned_survey_results.csv', 'survey_cleaned.csv', 'README.md', 'data', 'notebooks']
Current working directory: /drive
Files here: ['Untitled10.ipynb', 'Untitled11.ipynb', 'Untitled5.ipynb', 'Untitled6.ipynb', 'Untitled7.ipynb', 'Untitled8.ipynb', 'Untitled9.ipynb', 'cleaned_survey_results.csv', 'survey_cleaned.csv', 'README.md', 'data', 'notebooks']
Files inside ./data: ['Untitled12.ipynb', 'survey_results.csv', 'audio.wav', 'iris.csv', 'marie.png', 'matplotlib.png', 'Museums_in_DC.geojson', 'bar.vl.json', 'fasta-example.fasta']
/drive
   Respondent                                         MainBranch Hobbyist  \
0           1                     I am a developer by profession      Yes
1           2                     I am a developer by profession       No
2           3                        I code primarily as a hobby      Yes
3           4                     I am a developer by profession      Yes
4           5  I used to be a developer by profession, but no...      Yes

    Age Age1stCode CompFreq  CompTotal  ConvertedComp             Country  \
0   NaN         13  Monthly        NaN            NaN             Germany
1   NaN         19      NaN        NaN            NaN      United Kingdom
2   NaN         15      NaN        NaN            NaN  Russian Federation
3  25.0         18      NaN        NaN            NaN             Albania
4  31.0         16      NaN        NaN            NaN       United States

     CurrencyDesc  ...                  SurveyEase           SurveyLength  \
0   European Euro  ...  Neither easy nor difficult  Appropriate in length
1  Pound sterling  ...                         NaN                    NaN
2             NaN  ...  Neither easy nor difficult  Appropriate in length
3    Albanian lek  ...                         NaN                    NaN
4             NaN  ...                        Easy              Too short

  Trans                                     UndergradMajor  \
0    No  Computer science, computer engineering, or sof...
1   NaN  Computer science, computer engineering, or sof...
2   NaN                                                NaN
3    No  Computer science, computer engineering, or sof...
4    No  Computer science, computer engineering, or sof...

  WebframeDesireNextYear    WebframeWorkedWith  \
0           ASP.NET Core  ASP.NET;ASP.NET Core
1                    NaN                   NaN
2                    NaN                   NaN
3                    NaN                   NaN
4   Django;Ruby on Rails         Ruby on Rails

                              WelcomeChange WorkWeekHrs YearsCode YearsCodePro
0   Just as welcome now as I felt last year        50.0        36           27
1  Somewhat more welcome now than last year         NaN         7            4
2  Somewhat more welcome now than last year         NaN         4          NaN
3  Somewhat less welcome now than last year        40.0         7            4
4   Just as welcome now as I felt last year         NaN        15            8

[5 rows x 61 columns]

In [25]:
df.head()
df.shape        # number of rows, columns
df.columns[:30] # first 20 column names
demographics = ["Country", "Age", "EdLevel"]
opinions = ["MiscTechDesireNextYear", "PlatformDesireNextYear", "Hobbyist", "WorkWeekHrs"]


# Make a copy for cleaning
df_clean = df_small.copy()

# Drop rows with missing Country or Age
df_clean = df_clean.dropna(subset=["Country", "Age"])

# Fill missing education levels
df_clean["EdLevel"] = df_clean["EdLevel"].fillna("Other/NA")

# Apply your cleaning function
df_clean["EdLevel"] = df_clean["EdLevel"].apply(clean_edlevel)

# Check results
print(df_clean[["Country", "Age", "EdLevel"]].head())


df_small = df[demographics + opinions].copy()
df_small.head() #lots of NAs here, need to remove 
df_clean = df_clean.dropna(subset=["Country", "Age"])
df_clean["EdLevel"] = df_clean["EdLevel"].fillna("Other/NA")

df_clean["EdLevel"] = df_clean["EdLevel"].apply(clean_edlevel)
for col in ["MiscTechDesireNextYear", "PlatformDesireNextYear", "Hobbyist", "WorkWeekHrs"]:
    df_clean[col] = df_clean[col].fillna("NA")
df_clean.head()
#grouping and organizing data
df_clean["AgeGroup"] = pd.cut(
    df_clean["Age"],
    bins=[0,25,35,45,55,65,100], #100 upper bound
    labels=["<=24","25-35","36-45","46-55","56-66","65+"]
)
df_clean[["Age", "AgeGroup"]].head(20)

df_small = df[demographics + opinions].copy()

          Country   Age            EdLevel
3         Albania  25.0    Master's Degree
4   United States  31.0  Bachelor's Degree
7   United States  36.0  Bachelor's Degree
8         Tunisia  30.0              Other
9  United Kingdom  22.0    Master's Degree

In [28]:
df.isnull().any()

Respondent            False
MainBranch             True
Hobbyist               True
Age                    True
Age1stCode             True
                      ...
WebframeWorkedWith     True
WelcomeChange          True
WorkWeekHrs            True
YearsCode              True
YearsCodePro           True
Length: 61, dtype: bool

In [30]:
df[df["MainBranch"].isna()==1]

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
64162,90,NaN,Yes,24.0,18,NaN,NaN,NaN,Serbia,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,Express;Gatsby;React.js;Vue.js,Just as welcome now as I felt last year,NaN,4,NaN
64163,889,NaN,Yes,NaN,14,NaN,NaN,NaN,United States,NaN,...,Easy,Appropriate in length,No,NaN,Angular.js;jQuery;React.js;Vue.js,NaN,A lot less welcome now than last year,NaN,5,Less than 1 year
64164,909,NaN,Yes,NaN,13,NaN,NaN,NaN,United Kingdom,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,NaN,NaN,Just as welcome now as I felt last year,NaN,10,Less than 1 year
64165,1173,NaN,Yes,NaN,NaN,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64166,1264,NaN,Yes,NaN,16,NaN,NaN,NaN,Turkey,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,Laravel,A lot less welcome now than last year,NaN,30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [30]:
df["MainBranch"] = df["MainBranch"].fillna(0)
df["Hobbyist"]= df["Hobbyist"].fillna(0)
df["Age"]= df["Age"].fillna(0)
df["Age1stCode"]= df["Age1stCode"].fillna(0)
df["WebframeWorkedWith"]= df["WebframeWorkedWith"].fillna(0)
df["WelcomeChange"]= df["WelcomeChange"].fillna(0)
df["WorkWeekHrs"]= df["WorkWeekHrs"].fillna(0)
df["YearsCode"]= df["YearsCode"].fillna(0)
df["YearsCodePro"]= df["YearsCodePro"].fillna(0)
df["CompFreq"]= df["CompFreq"].fillna(0)
df["CompTotal"]= df["CompTotal"].fillna(0)
df["ConvertedComp"]= df["ConvertedComp"].fillna(0)  
df["CurrencyDesc"]= df["CurrencyDesc"].fillna(0)


#could do fill.na(unknown)for qualitative variables such as main branch 

df[df["Respondent"] == 90]
# to check if the code above worked for an example respondent
#df.rename({"MiscTechDesireNextYear":"DesiredTech_NextYr"},axis = 1)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
64162,90,0,Yes,24.0,18,0,0.0,0.0,Serbia,0,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,Express;Gatsby;React.js;Vue.js,Just as welcome now as I felt last year,0.0,4,0

In [3]:
#organizing the different education levels 
import pandas as pd
import re
df_clean["EdLevel"] = df_clean["EdLevel"].apply(clean_edlevel)

#print(df["EdLevel"].unique())
def clean_edlevel(x):
    if pd.isnull(x):
        return "Other"
    x = str(x).lower()
    if re.search("bachelor",x):
        return "Bachelor's Degree"
    elif re.search("master", x):
        return "Master's Degree"
    elif re.search("ph.d.|doctor", x):
        return "Doctoral degree"
    elif re.search("associate|college|secondary|no formal", x):
        return "Less than Bachelor’s"
    else:
         return "Other"
        
print(clean_edlevel("Bachelor’s Degree in CS"))
print(clean_edlevel("Ph.D. in Statistics"))
print(clean_edlevel("some random string"))

df["clean_edlevel"] = df["EdLevel"].apply(clean_edlevel)
print(df[["EdLevel", "clean_edlevel"]].head()) 




df = df.rename(columns={
    "clean_edlevel": "Education Level",
    "AgeGroup": "Age Group",
    "WorkWeekHrs": "Work Week Hours",
    "MiscTechDesireNextYear": "Tech Desired Next Year",
    "PlatformDesireNextYear": "Platform Desired Next Year",
    "Hobbyist": "Hobbyist Coder"
})
#df= df.drop(columns=["Education Level"])
df

<class 'NameError'>: name 'df_clean' is not defined

In [ ]:
print(df["clean_edlevel"].value_counts())

In [ ]:
df.to_csv("cleaned_file.csv", index=False, encoding='utf-8')